* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #0F0F0F;
  color: white;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: #000000;
}

.app-title {
  margin-left: 2rem;
  background-color: #3a2642;
}

.app-title h3 {
  font-size: 1.5rem;
  font-family: 'Source Code Pro', monospace;
  color: #e6b3cc;
  margin: 0;
}

.links-menu {
  height: 100%;
  margin-right: 2rem;
}

.links-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.links-menu li {
  list-style: none;
}

.links-menu a {
  display: block;
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  padding: 1rem;
  font-family: 'Source Code Pro', monospace;
}

.links-menu span {
  display: block;
  font-size: 1.1rem;
  color: white;
  padding: 1rem;
  font-family: 'Source Code Pro', monospace;
}


/* blinking cursor */
.blinking-cursor {
    -webkit-animation: blinking 3s infinite;
    animation: blinking 3s infinite;
}

@keyframes blinking {
    0% {
        background-color: #3a2642;
    }
    29% {
        background-color: #3a2642;
    }
    30% {
        background-color: #BD93A4;
    }
    69% {
        background-color: #BD93A4;
    }
    70% {
        background-color: #3a2642;
    }
    100% {
        background-color: #3a2642;
    }
}

.links {
    background-color: #642360;
}