body {
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: white;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    margin-bottom: 3rem;
}

.app-title {
    margin-left: 2rem;
    background-color: #3a2642;
}

.app-title h3 {
    font-size: 1.5rem;
    font-family: 'Source Code Pro', monospace;
    color: #e6b3cc;
    margin: 0;
}

.links-menu {
    height: 100%;
    margin-right: 2rem;
}

.links-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.links-menu li {
    list-style: none;
}

.links-menu a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    padding: 1rem;
    font-family: 'Source Code Pro', monospace;
}

.links-menu a:hover {
    text-decoration: underline 3px;
    text-decoration-color: #642360;
}

.links-menu a:active {
    color: #e6b3cc;
    text-decoration: underline 1px;
    text-decoration-color: #642360;
}

.links-menu span {
    display: block;
    font-size: 1.1rem;
    color: white;
    padding: 1rem;
    font-family: 'Source Code Pro', monospace;
}

/* blinking cursor */
.blinking-cursor {
    -webkit-animation: blinking 3s infinite;
    animation: blinking 3s infinite;
}

@keyframes blinking {
    0% {
        background-color: #3a2642;
    }
    29% {
        background-color: #3a2642;
    }
    30% {
        background-color: #b18194;
    }
    69% {
        background-color: #b18194;
    }
    70% {
        background-color: #3a2642;
    }
    100% {
        background-color: #3a2642;
    }
}

.links {
    background-color: #642360;
}


footer {
    min-height: 100%;
    left: 0;
    right: 0;
}
.footer-box {
    border-top: 1px solid #262626;
    width: 100%;
    height: 2rem;
    line-height: 0.3rem;
    background-color: #000000;
    color: #8b8b8b;
    text-align: center;
    font-size: 0.7rem;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}


/* About Section */
.about-container {  
    display: inline-flex;
    flex-wrap: wrap;
}
.photo-box {
    float: left;
    margin-left: 12rem;
    margin-top: 2rem;
}
.photo-box img {
    width: 8rem;
}
.text-box {
    margin-top: 1rem;
    margin-left: 4rem;
    max-width: 34rem;
}
.text-box p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 0;
    color: white;
    font-family: 'Source Code Pro', monospace;
}
.links-box img {
    width: 1.8rem;
    margin-top: 0.3rem;
}


/* Resume Section */
.resume-container {
    background-color: #d9d9d9;
}
.resume-container p {
    color: black;
}


/* Projects Section */
.projects-container {
    background-color: #3a2642;
}


/* Contact Section */
.contact-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.contact-box {
    margin-top: 1rem;
    margin-left: 25.7rem;
    max-width: 34rem;
    padding-bottom: 4rem;
}
.contact-box p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 0;
    color: white;
    font-family: 'Source Code Pro', monospace;
}
.links-box img {
    width: 1.8rem;
    margin-top: 0.3rem;
}