* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

.navbarContainer {
  display: flex;
  width: 100%;
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0.4rem 0.5rem;
  background-color: transparent;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  margin-bottom: 3rem;
  margin: 0;
  padding: 1rem;
}

.app-title {
  margin: 0rem 0rem 0rem 3rem;
}

.app-title h3 {
  font-size: 1.8rem;
  font-family: "VT323", monospace;
  color: #f2f2f2;
  text-shadow: 2px 2px #808080;
  margin: 0;
}

.links-menu {
  margin: 0rem 3rem 0rem 0rem;
  padding: 0;
}

.links-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

.links-menu li {
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  font-family: "Source Code Pro", monospace;
}

.link:hover {
  color: #df80ff;
}
.active {
  color: #df80ff;
}

.links-menu span {
  display: block;
  font-size: 1.1rem;
  color: white;
  padding: 1rem;
  font-family: "Source Code Pro", monospace;
}

.hamburger {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1.7rem;
  margin: 0rem 1rem 0rem 0rem;
  padding: 0;
}
.bar {
  display: block;
  width: 1.2rem;
  height: 1px;
  margin: 0.3rem;
  background-color: #ffffff;
  border-radius: 1px;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 870px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .app-title {
    margin-left: 1rem;
  }
  .links-menu {
    display: none;
    width: 100%;
  }
  .links-menu ul {
    width: 100%;
    flex-direction: column;
    padding: 1rem 1.3rem 0 0;
    margin: 0;
  }
  .links-menu li {
    text-align: right;
    margin-top: 0.7rem;
  }
  .links-menu.active {
    display: flex;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(4px, 4px);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
  }
}

/* blinking cursor */
.blinking-cursor {
  animation: blinking 1.5s ease-out infinite;
}

@keyframes blinking {
  0% {
    color: #f2f2f2;
    text-shadow: 2px 2px #808080;
  }
  50% {
    color: #808080;
    text-shadow: 2px 2px #f2f2f2;
  }
  100% {
    color: #f2f2f2;
    text-shadow: 2px 2px #808080;
  }
}

.links {
  background-color: #642360;
}

footer {
  min-height: 100%;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
.footer-box {
  border-top: 1px solid #262626;
  width: 100%;
  height: 2rem;
  line-height: 0.3rem;
  background-color: #000000;
  color: #8b8b8b;
  text-align: center;
  font-size: 0.7rem;
  padding: 0;
  font-family: "Source Code Pro", monospace;
}

.separator {
  height: 5rem;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 870px) {
  .separator {
    height: 2rem;
    margin: 0;
    padding: 0;
  }
}
.white {
  background-color: #ececec;
}
.violet {
  background-color: #1d1221;
}
.black {
  background-color: black;
}
.black-to-violet {
  background-image: linear-gradient(black, #1d1221);
}
.violet-to-white {
  background-image: linear-gradient(#1d1221, #ececec);
}

/* About Section */
.about-container {
  background-image: url(resources/bg.jpg);
  background-repeat: repeat;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  padding: 12rem 2rem 14rem 2rem;
  margin: 3rem 0 0 0;
  box-shadow: inset 0px -20px 40px 15px black;
}
.background img {
  max-width: 100%;
  object-fit: cover;
}
.photo-box {
  grid-column: 1/2;
}
.photo-box img {
  width: 10rem;
  float: right;
  box-shadow: 0 0 5px black;
  border-radius: 50%;
}
.text-box {
  grid-column: 2/2;
  margin: 0;
  max-width: 34rem;
}
.text-box h3 {
  font-size: 1.7rem;
  color: white;
  font-family: "VT323", monospace;
  margin: 1rem 0 0 0;
  padding: 0;
}
.text-box p {
  font-size: 1.05rem;
  line-height: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 0;
  color: white;
  font-family: "Source Code Pro", monospace;
}
.text-box ul {
  padding: 0 0 0 1.2rem;
  margin: 0;
}
.text-box li {
  font-size: 1.05rem;
  line-height: 1.6rem;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Source Code Pro", monospace;
}
.links-box img {
  width: 1.8rem;
  margin-top: 0.3rem;
}
#more {
  display: none;
}
#readMoreBtn {
  background-color: transparent;
  display: block;
  border: none;
  font-size: 1rem;
  line-height: 1.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
  color: gray;
  font-family: "Source Code Pro", monospace;
  cursor: pointer;
  padding: 0;
}
@media screen and (max-width: 780px) {
  .about-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 8rem 2rem;
    margin: 3rem 0 0 0;
  }

  .photo-box {
    margin: 1rem 0 0 0;
    align-self: center;
  }
}

/* Resume Section */
.resume-container {
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 8rem 2rem 4rem 2rem;
}
.resume-container h1 {
  color: black;
  font-weight: 1000;
  font-size: 2rem;
  margin: 1rem 0 2.5rem 0;
  font-family: "VT323", monospace;
}
.experience-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.resume-box {
  background-color: #f7f7f7;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  border-top: 0;
  border-radius: 0.3rem;
  padding: 2rem 2.5rem 3rem 2.5rem;
}
.resume-box h2 {
  color: #0e0e0e;
  text-decoration-line: underline;
  text-decoration-color: #3a3a3a;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin: 1rem 0 0.5rem 0;
  font-family: "Source Code Pro", monospace;
}
#subtitle {
  margin-top: 2rem;
}
.resume-box h3 {
  color: #0e0e0e;
  font-weight: 800;
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin: 1rem 0 0.2rem 0;
  font-family: "Source Code Pro", monospace;
}
.resume-box p {
  font-size: 1rem;
  color: #0e0e0e;
  line-height: 1.5rem;
  font-family: "Source Code Pro", monospace;
  padding: 0;
  margin: 0;
}
.resume-box ul {
  padding: 0 0 0 1.2rem;
  margin: 0;
}
.resume-box li {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 780px) {
  .resume-container {
    padding: 3rem 0.5rem 3rem 0.5rem;
  }
  .experience-container {
    flex-direction: column;
  }
  .resume-box {
    background-color: #f7f7f7;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    border-top: 0;
    border-radius: 0.3rem;
    padding: 1rem 1rem 2rem 1rem;
  }
}

/* Skillset Section */
.skillset-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 8rem 2rem 3rem 2rem;
}

.skillset-container h2 {
  color: white;
  font-weight: 1000;
  font-size: 2rem;
  margin: 1rem 0 0.5rem 0;
  font-family: "VT323", monospace;
}

.skills-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 4rem 2rem 4rem 2rem;
  gap: 1rem;
}
@media screen and (max-width: 780px) {
  .skills-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.skill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 22%;
}
@media screen and (max-width: 780px) {
  .skill-box {
    width: 100%;
  }
}

.skill-box p {
  font-size: 1rem;
  color: white;
  line-height: 1.5rem;
  font-family: "Source Code Pro", monospace;
  padding: 0.5rem;
  margin: 0;
  background-color: #0f0f0f;
  border-radius: 0.3rem;
}
.skill-box img {
  height: 2.2rem;
  margin: 0 0 0.5rem 0;
}
@media screen and (max-width: 780px) {
  .project-box img {
    width: 10rem;
  }
}

/* Projects Section */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 8rem 2rem 3rem 2rem;
  background-color: #1d1221;
}

.projects-container h2 {
  color: white;
  font-weight: 1000;
  font-size: 2rem;
  margin: 1rem 0 0.5rem 0;
  font-family: "VT323", monospace;
}

.projects-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 4rem 2rem 4rem 2rem;
  gap: 9rem;
}
@media screen and (max-width: 780px) {
  .projects-box-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
.project-box {
  transition: 0.2s ease-out;
}
.project-box:hover {
  transform: translateY(-10%);
}
.project-box img {
  width: 12rem;
}
@media screen and (max-width: 780px) {
  .project-box img {
    width: 10rem;
  }
}

/* Contact Section */
.contact-container {
  background-image: url(resources/bg.jpg);
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem 6rem 2rem;
  margin: 0;
}
.contact-box {
  display: block;
  background-color: #242424;
  box-shadow: 0.4rem 0.4rem #b3b3b3;
  border-radius: 0.15rem;
  padding: 1rem 4rem 1.6rem 4rem;
}
.contact-box h1 {
  color: white;
  font-weight: 500;
  font-size: 1.7rem;
  margin: 1rem 0 0.5rem 0;
  font-family: "VT323", monospace;
}
.contact-box p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 0;
  color: white;
  font-family: "Source Code Pro", monospace;
}
.links-box img {
  width: 1.8rem;
  margin-top: 0.6rem;
  margin-right: 0.5rem;
}
.links-box a {
  text-decoration: none;
}
@media screen and (max-width: 780px) {
  .contact-container {
    padding: 4rem 0.5rem 4rem 0.5rem;
  }
  .contact-box {
    padding: 1.2rem 2.5rem 1.5rem 2.5rem;
  }
}
