body {
    margin: 0;
    background-color: #141414;
}


.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    margin-bottom: 3rem;
}

.app-title {
    margin: 1rem 1rem 1rem 3rem;
    background-color: #3a2642;
}

.app-title h3 {
    font-size: 1.3rem;
    font-family: 'Source Code Pro', monospace;
    color: #e6b3cc;
    margin: 0;
}

@media screen and (max-width: 750px) {
    .links-menu {
        display: none;
    }
}

.links-menu {
    height: 100%;
    margin-right: 2rem;
}

.links-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.links-menu li {
    list-style: none;
}

.links-menu a {
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    padding: 1rem;
    font-family: 'Source Code Pro', monospace;
}

.links-menu a:hover {
    text-decoration: underline 3px;
    text-decoration-color: #642360;
}

.links-menu a:active {
    color: #e6b3cc;
    text-decoration: underline 1px;
    text-decoration-color: #642360;
}

.links-menu span {
    display: block;
    font-size: 1.1rem;
    color: white;
    padding: 1rem;
    font-family: 'Source Code Pro', monospace;
}

/* blinking cursor */
.blinking-cursor {
    -webkit-animation: blinking 3s infinite;
    animation: blinking 3s infinite;
}

@keyframes blinking {
    0% {
        background-color: #3a2642;
    }
    29% {
        background-color: #3a2642;
    }
    30% {
        background-color: #b18194;
    }
    69% {
        background-color: #b18194;
    }
    70% {
        background-color: #3a2642;
    }
    100% {
        background-color: #3a2642;
    }
}

.links {
    background-color: #642360;
}


footer {
    min-height: 100%;
    left: 0;
    right: 0;
    padding: 0.5rem 0 0 0;
    margin: 0;
}
.footer-box {
    border-top: 1px solid #262626;
    width: 100%;
    height: 2rem;
    line-height: 0.3rem;
    background-color: #000000;
    color: #8b8b8b;
    text-align: center;
    font-size: 0.7rem;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}


/* About Section */
@media screen and (max-width: 750px) {
    .about-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        margin: 4rem 0 0 0;
    }

    .photo-box {
        grid-column: 0;
        margin: 1rem 0 0 0;
    }
}
.about-container {  
    display: grid;
    columns: 2;
    column-gap: 2rem;
    padding: 2rem;
    margin: 6rem 0 0 0;
}
.photo-box {
    grid-column: 1/2;
}
.photo-box img {
    width: 8rem;
    float: right;
}
.text-box {
    grid-column: 2/2;
    margin: 0;
    max-width: 34rem;
}
.text-box p {
    font-size: 1.05rem;
    line-height: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 0;
    color: white;
    font-family: 'Source Code Pro', monospace;
}
.links-box img {
    width: 1.8rem;
    margin-top: 0.3rem;
}
#more {
  display: none;
}
#readMoreBtn {
    background-color: transparent;
    display: block;
    border: none;
    font-size: 1rem;
    line-height: 1.8rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
    color: gray;
    font-family: 'Source Code Pro', monospace;
    cursor: pointer;
    padding:  0;
}

/* Resume Section */
.resume-container {
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 4rem 2rem 4rem 2rem;
}
.resume-box {
    background-color: #f7f7f7;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    border-top: 0;
    border-radius: 0.3rem;
    padding: 3rem;
}
.resume-box h2 {
    color: #0e0e0e;
    text-decoration-line: underline;
    text-decoration-color: #3a3a3a;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin: 0 0 0.5rem 0;
    font-family: 'Source Code Pro', monospace;
}
#subtitle {
    margin-top: 2rem;
}
.resume-box h3 {
    color: #0e0e0e;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin: 0 0 0.5rem 0;
    font-family: 'Source Code Pro', monospace;
}
.resume-box p {
    font-size: 1rem;
    color: #0e0e0e;
    line-height: 1.5rem;
    font-family: 'Source Code Pro', monospace;
    padding: 0;
    margin: 0;
}
.resume-box ul {
    padding: 0 0 0 1rem;
    margin: 0;
}
.resume-box li {
    padding: 0;
    margin: 0 0 0.5rem 0;
}


/* Projects Section */
.projects-container {
    background-color: #3a2642;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 4rem 2rem 4rem 2rem;
}
.project-box img {
    width: 13rem;
}


/* Contact Section */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem 4rem 2rem;
    margin: 0;
}
.contact-box {
    display: block;
    background-color: #242424;
    box-shadow: 0.4rem 0.4rem #535353;
    border-radius: 0.15rem;
    padding: 1rem 4rem 1.6rem 4rem;
}
.contact-box p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 0;
    color: white;
    font-family: 'Source Code Pro', monospace;
}
.links-box img {
    width: 1.8rem;
    margin-top: 0.6rem;
}