.about-container {	
	display: inline-flex;
  	flex-wrap: wrap;
}

.photo-box {
	float: left;
	margin-left: 12rem;
	margin-top: 2rem;
}

.photo-box img {
	width: 8rem;
}

.text-box {
	margin-top: 1rem;
	margin-left: 4rem;
	max-width: 34rem;
}

.text-box p {
    font-size: 1.1rem;
    line-height: 1.8rem;
	margin-top: 1rem;
	margin-bottom: 0;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

.links-box img {
	width: 1.8rem;
	margin-top: 0.3rem;
}