.contact-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.contact-box {
	margin-top: 1rem;
	margin-left: 25.7rem;
	max-width: 34rem;
	padding-bottom: 4rem;
}

.contact-box p {
    font-size: 1.1rem;
    line-height: 1.8rem;
	margin-top: 1rem;
	margin-bottom: 0;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

.links-box img {
	width: 1.8rem;
	margin-top: 0.3rem;
}